# Install mage_ai

In [1]:
%pip install mage-ai

Requirement already satisfied: mage-ai in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (0.0.3)
Requirement already satisfied: joblib>=1.1.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (1.1.0)
Requirement already satisfied: numpyencoder==0.3.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (0.3.0)
Requirement already satisfied: zipp==3.8.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (3.8.0)
Requirement already satisfied: pyarrow==8.0.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (8.0.0)
Requirement already satisfied: numpy~=1.21.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (1.21.6)
Requirement already satisfied: simplejson in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (3.17.6)
Requirement already satisfied: importlib-metadata==4.11.3 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (4.11.3)
Requirement already satisfied: pytz==2022.1 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (2022.1)
Requirement already satisfied: ipython in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (8.4.0)
Requirement already satisfied: scikit-learn>=1.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (1.1.1)
Requirement already satisfied: six>=1.15.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (1.16.0)
Requirement already satisfied: Faker==4.14.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (4.14.0)
Requirement already satisfied: Werkzeug==2.1.2 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (2.1.2)
Requirement already satisfied: Flask==2.1.2 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (2.1.2)
Requirement already satisfied: Jinja2==3.1.2 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (3.1.2)
Requirement already satisfied: flask-cors==3.0.10 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (3.0.10)
Requirement already satisfied: pandas~=1.3.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (1.3.5)
Requirement already satisfied: MarkupSafe==2.1.1 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (2.1.1)
Requirement already satisfied: click==8.1.3 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (8.1.3)
Requirement already satisfied: itsdangerous==2.1.2 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (2.1.2)
Requirement already satisfied: python-dateutil==2.8.2 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from mage-ai) (2.8.2)
Requirement already satisfied: text-unidecode==1.3 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from Faker==4.14.0->mage-ai) (1.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from scikit-learn>=1.0->mage-ai) (1.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from scikit-learn>=1.0->mage-ai) (3.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (3.0.29)
Requirement already satisfied: pexpect>4.3 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (4.8.0)
Requirement already satisfied: stack-data in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (2.12.0)
Requirement already satisfied: jedi>=0.16 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (0.18.1)
Requirement already satisfied: decorator in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (5.1.1)
Requirement already satisfied: traitlets>=5 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (5.2.2.post1)
Requirement already satisfied: matplotlib-inline in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (62.1.0)
Requirement already satisfied: backcall in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (0.2.0)
Requirement already satisfied: appnope in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (0.1.3)
Requirement already satisfied: pickleshare in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from ipython->mage-ai) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from jedi>=0.16->ipython->mage-ai) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from pexpect>4.3->ipython->mage-ai) (0.7.0)
Requirement already satisfied: wcwidth in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->mage-ai) (0.2.5)
Requirement already satisfied: executing in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from stack-data->ipython->mage-ai) (0.8.3)
Requirement already satisfied: pure-eval in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from stack-data->ipython->mage-ai) (0.2.2)
Requirement already satisfied: asttokens in /Users/dangerous/Code/materia/mage-ai/env/lib/python3.8/site-packages (from stack-data->ipython->mage-ai) (2.0.5)
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/Users/dangerous/Code/materia/mage-ai/env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# Import libraries

In [2]:
import mage_ai

# Load data

In [4]:
from mage_ai.server.sample_datasets import list_dataset_names, load_dataset


dataset_names = list_dataset_names()
print(dataset_names)
df = load_dataset('titanic_survival.csv')

['titanic_survival.csv', 'salary_survey.csv', 'user_emails.csv', 'product_purchases.csv']

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Connect data to app

In [6]:
mage_ai.connect_df(df, 'titanic survival dataset')

[time] metric: data_cleaner.infer_column_types, value: 27ms, tags: {}
[time] metric: data_cleaner.clean_series, value: 11ms, tags: {}
[time] metric: data_cleaner.calculate_statistics, value: 17ms, tags: {}
[time] metric: data_cleaner.calculate_insights, value: 32ms, tags: {}
[time] metric: data_cleaner.create_suggested_actions, value: 25ms, tags: {}

(<mage_ai.server.data.models.FeatureSet at 0x1558c7130>,
      PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 ..           ...       ...     ...
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name     Sex   Age  SibSp  \
 0                              Braund, Mr. Owen Harris    male  22.0      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                               Heikkinen, Miss. Laina  female  26.0      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                             Allen, Mr. William Henry    male  35.0      0
 ..                                                 ...     ...   ...    ...
 886                              Montvila, Rev. Juozas    male  27.0      0
 887                       Graham, Miss. Margaret Edith  female  19.0      0
 888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
 889                              Behr, Mr. Karl Howell    male  26.0      0
 890                                Dooley, Mr. Patrick    male  32.0      0

      Parch            Ticket     Fare Cabin Embarked
 0        0         A/5 21171   7.2500   NaN        S
 1        0          PC 17599  71.2833   C85        C
 2        0  STON/O2. 3101282   7.9250   NaN        S
 3        0            113803  53.1000  C123        S
 4        0            373450   8.0500   NaN        S
 ..     ...               ...      ...   ...      ...
 886      0            211536  13.0000   NaN        S
 887      0            112053  30.0000   B42        S
 888      2        W./C. 6607  23.4500   NaN        S
 889      0            111369  30.0000  C148        C
 890      0            370376   7.7500   NaN        Q

 [891 rows x 12 columns])

# Run app locally

In [7]:
mage_ai.kill() # Kill any previously running instance
mage_ai.launch()

 * Serving Flask app 'mage_ai.server.app' (lazy loading)
 * Environment: production

   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.

 * Debug mode: off

# Clean data using pipeline created from app

In [8]:
mage_ai.clean(df, pipeline_uuid=1)

Pipeline is empty.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q